@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@functions{
    public string background(string construction)
    {
        if (construction == "Tubing" || construction.ToUpper() == "JS")
        {
            return "DodgerBlue";
        }
        else if (construction == "POR")
        {
            return "Green";
        }
        else if (construction == "Stock Tubing")
        {
            return "Yellow";
        }
        else return "white";
    }
}
@model WorkOrder 
<body style="background-color:@background(Model.Construction)">
<div class="text-center font-weight-bolder text-lg-center">
    Work Order: @Model.WorkOrderNumber
    <span class="btn-group-sm">
        <button class="btn btn-sm btn-success">Select</button>
        <button class="btn btn-sm btn-danger">Skip</button>
        <button class="btn btn-sm btn-info">Edit</button>
    </span>
</div>
<div class="border-bottom">
    <p>
        <b>Customer:</b> @Model.CustomerName
    </p>
    <p><b>Description:</b> @Model.Description</p>
    <p>
        <b>Item Number:</b> @Model.InventoryItemNumber
    </p>
    <p>
        <b>Sales Order:</b> @Model.SalesOrderNumber
    </p>
    <p><b>Date Needed:</b>@Model.DateNeeded</p>
    <p><b>Date Created:</b>@Model.DateCreated</p>
</div>
<br />
<div class="text-center">
<span class="text-center">Run Speed:<em> @Model.RunSpeed</em>  Work Center:<em> @Model.WorkCenter</em> Quantity:<em> @Model.Quantity</em>  </span>
</div>
<div>
    <p class="font-weight-bold">
    Extrustion Instructions
    </p>
    <p>
    @Model.ExtrusionInstruction
    </p>
</div>
<div>
    <p class="font-weight-bold">
    Printing Instructions
    </p>
    <p>
    @Model.PrintingInstruction
    <a href="@Model.PrintingUri">Print File</a>
    </p>
    <br />
</div>
<div>
    <p class="font-weight-bold">
    Venting Instructions
    </p>
    <p>
    <a href="@Model.VentingUri">Vent File</a>
    </p>
    <br />
</div>
<div>
    <p class="font-weight-bold">Labeling Instructions</p>
    <p>@Model.LabelingInstruction</p>
</div>
<div>
    <p class="font-weight-bold">Notes:</p>
    <p>@Model.Notes</p>
</div>
<div class="text-center">
    <h3>Rolls</h3>
</div>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <td>Roll #</td>
            <td>Weight</td>
            <td>Width As Sheet</td>
            <td>Length</td>
            <td>Number On Roll</td>
            <td>Gauge</td>
            <td>Viscosity</td>
            <td>Operator</td>
        </tr>
    </thead>
    <tbody>
        @foreach(Roll r in Model.Rolls)
        {

        <tr>
            <td>@r.Id</td>
            <td>@r.Weight</td>
            <td>@r.Width</td>
            <td>@r.Length</td>
            <td>@r.QuantityPer</td>
            <td>@r.Gauge</td>
            <td>-</td>
            <td>@r.Operator</td>

        </tr>
        }
        <tr>
            @Html.ActionLink("New", "Create", "Rolls")
        </tr>
    </tbody>
</table>
</body>