@model ProcessWorkOrders.Models.Roll

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Roll</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityPer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityPer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gauge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gauge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Operator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Operator)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Number">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
